<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.si.teampoison.bambu">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon1"
        android:label="@string/title_activity_home"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="Bambu "
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.si.teampoison.bambu.Home" />
        </activity>
        <activity
            android:name=".Notificaciones"
            android:label="@string/title_activity_notificaciones"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.si.teampoison.bambu.Principal" />
        </activity>
        <activity
            android:name=".Principal"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Citas"
            android:label="@string/title_activity_citas"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.si.teampoison.bambu.Principal" />
        </activity>

        <activity android:name=".Contacto"
            android:label="Contacto"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.si.teampoison.bambu.Principal" />
        </activity>


        <activity
            android:name=".cita_detalle"
            android:label="@string/title_activity_cita_detalle"
            android:parentActivityName=".Citas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.si.teampoison.bambu.Citas" />
        </activity>
    </application>

</manifest>